<% provide(:title, "Finished") %>
<div id="counter">
  <p id="pom">Congratulations! <br> Your Pomodoro has ended.</p>
  <p id="demo"></p>
  <div id = "break">
    <p id="brk">Take a break, you deserved it.</p>
  <div id="buttons">
  <button type="button" class="btn btn-primary btn-lg" id="btn1">5</button>
  <button type="button" class="btn btn-primary btn-lg" id="btn2">10</button>
  <button type="button" class="btn btn-primary btn-lg" id="btn3">15</button></div>
  </div>
</div>
