<% provide(:title, "Finished") %>
<div class="container text-center text-dark bg-light">
  <h1>Congratulations!</h1>
    <p><font size=5>Your Pomodoro has ended. Take a break, you deserved it.</font></p>
  <p id="demo"></p>
  <div id = "break">
    <p id="brk"></p>
  <div id="buttons">
  <button type="button" class="btn btn-primary btn-lg" id="btn1">5</button>
  <button type="button" class="btn btn-primary btn-lg" id="btn2">10</button>
  <button type="button" class="btn btn-primary btn-lg" id="btn3">15</button></div>
  </div>
</div>
