<% provide(:title, "Interrupt") %>
<div class="container text-center text-dark bg-light">
  <h1>Oh no!</h1>
    <p><font size=5>You left early, what is wrong?</font></p>
  <p id="demo"></p>

  <div id="textarea1">
  <form action="start">
    <textarea name="message" rows="6" cols="50" placeholder= "Enter your reason here"></textarea>
    <br>
    <%= button_to "Submit", { :action => "start" }, :method => :get , class:"btn btn-primary" %> 
  </form>
</div>
