<% provide(:title, "Interrupt") %>
<div id="counter">
  <p id="pom">Oh no! <br> You left early, what is wrong?</p>
  <p id="demo"></p>

  <div id="textarea1">
  <form action="/action_page.php">
    <textarea name="message" rows="6" cols="50" placeholder= "Enter your reason here"></textarea>
    <br>
    <input type="submit" class="btn btn-primary btn-lg" id="btn1" value = "SUBMIT">
  </form>
</div>
