<% provide(:title, "Interrupt") %>
<div class="container text-center text-dark bg-light">
  <h1>Oh no!</h1>
    <p><font size=5>You left early, what is wrong?</font></p>
  <p id="demo"></p>

  <div id="textarea1">
  <form action="/action_page.php">
    <textarea name="message" rows="6" cols="50" placeholder= "Enter your reason here"></textarea>
    <br>
    <input type="submit" class="btn btn-primary btn-lg" id="btn1" value = "SUBMIT">
  </form>
</div>
