<div class="container text-center text-dark bg-light">
    <h1>Hello!</h1>
    <p><font size=5>What do you want to work on?</font></p>

    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail onPomodoro">
          <div class="caption">
            <h3>Trello lists(first you need to choose list)</h3>
            <div class="list-group">
  <a href="#" class="list-group-item active">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="thumbnail onPomodoro">
          <div class="caption">
            <h3>To-do</h3>
            <div class="list-group">
  <a href="#" class="list-group-item active">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary">Start Your Pomodoro</button>
  </div>