<body>

  <div class="container text-center text-dark bg-light">
    <h1>About GuruPomodoro</h1>
    
    <div class="row">
      <div class="col-md-12 text-left">
        <div class="thumbnail onPomodoro">
          <div class="caption">
            <ul class="list-group">
              <li class="list-group-item">GuruPomodoro is a web application built on pomodoro technique in order to increase productivity, communication and efficient time management for small to medium teams.</li>
              <li class="list-group-item">It took 12 weeks to analyse, design, implement and test the project. After all these phases, we had a well-built and dynamic web application. </li>
              <li class="list-group-item">The advantages of Ruby on Rails was mainly used in this project.</li>
              <li class="list-group-item">Especially, MVC model was the main idea while creating the backend of the project. Besides, Postgresql was used to manage databases.</li>
              <li class="list-group-item">Bootstrap, HTML5 and CSS3 were the main frameworks while creating frontend of the project.</li>
              <li class="list-group-item">The developers are Computer Engineering students at ITU.</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item">Lütfi Demirci – Database Design / Full Stack Developer / Test Developer</li>
              <li class="list-group-item">Mustafa Çoban – Database Design / Full Stack Developer / Documentation </li>
              <li class="list-group-item">Umutcan Karakaş – Database Design / Full Stack Developer / Test Developer</li>
              <li class="list-group-item">Merve Gonca Dönmez – Designer / Full Stack Developer / Test Developer</li>
              <li class="list-group-item">Buse Dilan Uslan – Designer / Full Stack Developer / Documentation</li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>