<% provide(:title, "HomePage") %>


<div class="container text-center center-block" class="centerMainContent">
    <div class="center-block jumbotron">
        <h1>GuruPomodoro</h1>
        <h3>a tool for teams to work efficiently</h3>
    </div>
</div>
