<% provide(:title, "HomePage") %>

<% if user_signed_in? %>
  <div class="container text-center">
      <div class="center-block jumbotron" class="centerMainContent">
          <h1>Time for Pomodoro</h1>
          <h3>You can either select a team on <strong>Team Select</strong> menu or create a new team</h3>
          <br>
          <button type="button" class="btn btn-primary btn-lg">Create New Team</button>
      </div>
  </div>
<% else %>
  <div class="container text-center center-block" class="centerMainContent">
      <div class="center-block jumbotron">
          <h1>GuruPomodoro</h1>
          <h3>a tool for teams to work efficiently</h3>
      </div>
  </div>
<% end %>
