@import "bootstrap";

//a {color: red;}
.team-description {
    font-size: 18px;
    margin: -10px 0 20px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.uppercase {
    text-transform: uppercase;
}

#team-trello-board-refresh {
    margin-bottom: 10px;
}

#team-trello-boards {
    max-height: 400px;
    overflow: scroll;
}

#trello-tasks, #trello-lists {
    max-height: 250px;
    overflow: scroll;
}

.centerMainContent {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 5% 5%;
}

#registerForm {
    margin-top: 100px;
    width: 30%;
}

.task {
    font-size: 15px !important;
    color: #fff;
}

.taskOwner {
    color: #fff;
}

.jumbotron {
    background-color: transparent !important;
}

#pomodoro-page {
    padding: 20px 0;
}

#pom {
    font-size: 400%;
    padding: 30px 0;
    margin: auto;
    text-align: center;
}

#countdown {
    font-size: 1000%;
    margin: auto;
    text-align: center;
}

html {
    min-height: 100%;
}

body {
    background: #BE93C5;

    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #7BC6CC, #BE93C5);

    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #7BC6CC, #BE93C5);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#brk {
    font-size: 200%;
}

#break {
    margin: auto;
    text-align: center;
    width: 50%;
}

.btn {
    border: 0 none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.btn-xl {
    padding: 14px 24px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}


.btn-success {
    background: #2aa05d;
    color: #FFFFFF;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background: #3eb772;
}

.btn-success:active, .btn-success.active {
    background: #2b7d4f;
    box-shadow: none;
}

#buttons {
    padding: 10px 0;
}

#textarea1 {
    text-align: center;
    margin: auto;
}

textarea {
    width: 500px;
    min-width: 500px;
    max-width: 500px;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
}

#team-pomodoro-dashboard {
    .onPomodoro {
        background-color: #ff0e10;
    }

    .online {
        background-color: #00a112;
    }

    .offline {
        background-color: #00acff;
    }

    .remainingTime {
        color: #fff;
    }

    .team-user-box {
        width: 300px;
        height: 150px;
        float: left;
        margin-right: 40px;
        border-radius: 20px;
        padding: 2px 15px 5px;
    }
}

#error_explanation h2 {
    font-size: 14px;
}
