
<% provide(:title, "Interrupt") %>
 <style>
    body {
      background: #c94b4b; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to top,
        #4b134f,
        #c94b4b
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to top,
        #4b134f,
        #c94b4b
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  </style>
<div id="counter">
<p id="pom">Oh no! <br> You left early, what is wrong?</p>
<p id="demo"></p>

<div id="textarea1">
<form action="/action_page.php">
  <textarea name="message" rows="6" cols="50" placeholder= "Enter your reason here"></textarea>
  <br>
  <input type="submit" class="btn btn-primary btn-lg" id="btn1" value = "SUBMIT">
</form>
</div>
